body {
    margin: 0;
    font-family: "Delius Unicase", regular;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: #4d3933;     
}


#container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center; 
    gap: 30px;
    padding: 30px;
    
    
}

#sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px;
    min-width: 150px;
    background-color:#854442;
    text-decoration-color: #FFF4E5;
    border: 10px solid black;
    color: #FFF4E5;
}


#resetBtn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    width: 90vw;
    max-width: 650px;
    height: 90vh;
    max-height: 750px;
    
    gap: 10px;
    padding: 20px;
    background-color: lightgrey;
    border: 10px solid black;
    box-sizing: border-box;
}

.card {
 
    width: min(
        100%, 
        calc((90vh - 10px*3 - 20px)/4 * (90/128))
    );
    height: 100%;
    object-fit: contain cover;
    
    aspect-ratio: 90 / 128;
    border: 3px solid black;   
    cursor: pointer;
}













