body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resetBtn {
    margin: 20px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    width: 90vw;
    max-width: 650px;
    height: 90vh;
    max-height: 700px;
    
    gap: 10px;
    padding: 10px;
    background-color: aquamarine;
    border: 10px solid black;
    box-sizing: border-box;
}

.card {
 
    width: min(
        100%, 
        calc((90vh - 10px*3 - 20px)/4 * (90/128))
    );
    height: 100%;
    object-fit: contain;
    aspect-ratio: 90 / 128;   
    cursor: pointer;
}













